<script lang="ts">
import { defineComponent } from 'vue';
import { useI18n } from 'vue-i18n';

export default defineComponent({
  name: 'ContactPage',
  data() {
    return {
      form: {
        firstName: '',
        lastName: '',
        email: '',
        phoneNumber: '',
        message: '',
      },
    };
  },
  setup() {
    const { t } = useI18n({
      inheritLocale: true,
      useScope: 'parent',
    });

    return { t };
  },
});

</script>
<template>
  <div class="contact-container">
    <h1>
      Reach me from here
    </h1>
    <form name="contact"
          method="post"
          netlify
          data-netlify="true"
          data-netlify-honeypot="bot-field"
          @submit.prevent="handleSubmit">
      <input type="hidden" name="form-name" value="contact" />
      <div>
        <input id="firstName" type="text"
               placeholder="your first name"
               @input="ev => form.firstName = ev.target.value"
               autocomplete="off">
        <span class="input-border"></span>
      </div>
      <div>
        <input id="lastName" type="text"
               placeholder="your last name"
               @input="ev => form.lastName = ev.target.value"
               autocomplete="off">
        <span class="input-border"></span>
      </div>
      <div>
        <input id="email" type="text"
               placeholder="your email"
               @input="ev => form.email = ev.target.value"
               autocomplete="off">
        <span class="input-border"></span>
      </div>
      <div>
        <input id="phoneNumber" type="text"
               placeholder="your phone number"
               @input="ev => form.phoneNumber = ev.target.value"
               autocomplete="off">
        <span class="input-border"></span>
      </div>
      <div>
        <textarea id="message" rows="5"
                  @input="ev => form.message = ev.target.value"
                  placeholder="your message"></textarea>
        <span class="input-border"></span>
      </div>
      <button class="btn-primary"
              id="submitButton"
              type="submit"
              data-text="send message">
        <span v-for="letter in ['t','h','a','n','k','s','!']" :key="letter">
          {{ letter }}
        </span>
      </button>
    </form>
  </div>
</template>
<style lang="scss">

.contact-container {
  width: 60%;

  h1 {
    font-weight: 100;
  }

  button {
    font-size: 1.2rem;
    width: 100%;

    span {
      display: inline-block;
      min-width: 0.30em;
      text-transform: uppercase;
      transition: .25s cubic-bezier(0.5, -1, 0.5, 2);
      opacity: 0;
      transform: translate(0, -20px);
    }

    &:before {
      content: attr(data-text);
      position: absolute;
      width: 100%;
      left: 0;
      transition: .25s cubic-bezier(0.5, -1, 0.5, 2);
      text-transform: uppercase;
      letter-spacing: .2rem;
      opacity: 1;
      transform: translate(0, 0px);
    }

    &:hover,
    &:focus {
      &:before {
        opacity: 0;
        transform: translate(0, 20px);
      }

      span {
        opacity: 1;
        transform: translate(0, 0);
      }

      @for $i from 1 through 7 {
        span:nth-child(#{$i}) {
          transition-delay: 0.025s * $i;
        }
      }
    }
  }
}

@media (min-width: 43rem) {
  .contact-container {
    width: 50%;
  }

}

@media (min-width: 62rem) {
  .contact-container {
    width: 35%;
  }
}
</style>
