.under-construction {
  animation: fadeIn .8s ease-in-out;

  &__container {
    div {
      text-align: center;

      .under-construction-icon {
        animation: wip-icon-color-grade 5s infinite alternate ease-in-out;
        color: var(--vgit-c-orange-light);
      }

      div {
        margin-top: 2.5rem;
        .under-construction-text {
          color: var(--vgit-c-white-mute);
          font-weight: 100;
          font-size: 3rem;
        }
      }
    }
  }
}

@keyframes wip-icon-color-grade {
  from {
    color: var(--vgit-c-orange-light);
  }
  to {
    color: var(--vgit-c-blue-light);
  }
}
